<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<% @posts.each_slice(2) do |p| %>
<div class="row">
	<% p.each do |x| %>
		<div class="col-sm-6">
			<%= link_to image_tag(x.image.url(:medium)), x %>
		</div>
	<% end %> 
</div>
<% end %>